.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.location {
  font-size: 2em;
}

.wrapper p {
  font-size: 1em;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
  }
}
