.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lavender;
  min-width: 100%;
  padding: 0 10% 0 10%;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.description {
  font-size: 4rem;
  text-align: center;
  justify-self: flex-end;
}

.temperature {
  font-size: 10em;
}

@media only screen and (max-width: 950px) {
  .wrapper {
    flex-direction: column;
  }
}
