.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95vw;
  height: 90vh;
  background: #fdf9ecad;
  box-shadow: 0 0 16px 0 #3e2a7094;
  backdrop-filter: blur(8px);
  border-radius: 32px;
  border: solid 2px #c0acf43e;
  font-size: 2rem;
  padding: 2%;
}

@media only screen and (max-width: 950px) {
  .wrapper {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    padding: 2vh 4vw;
    box-shadow: none;
    backdrop-filter: none;
    border-radius: 0;
    border: none;
    width: 100vw;
    height: 100vh;
    font-size: 1.2rem;
  }
}
